{% extends "base.html" %}

{% block title %}Standings{% endblock %}

{% block content %}
<div class="container mt-5 table-responsive">
    <h2 class="mb-4">Standings</h2>
    <table class="table table-striped text-center">
        <thead >
            <tr>
                <th scope="col">Rank</th>
                <th scope="col">Group ID</th>
                <th scope="col" class="text-center d-none d-md-inline-flex w-25">Player1</th>
                <th scope="col" class="text-center d-none d-md-inline-flex w-25">Player2</th>
                <th scope="col" class="text-center d-none d-md-inline-flex w-25">Player3</th>
                <th scope="col" class="text-center d-none d-md-inline-flex w-25">Player4</th>
                <th scope="col">Score</th>
            </tr>
        </thead>
        <tbody>
            {% for group in groups %}
            <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td class="text-center">{{ group.id }}</td>
                <td class="d-none d-md-inline-flex w-25 text-center">{{ group.player1 }}</td>
                <td class="d-none d-md-inline-flex w-25 text-center">{{ group.player2 }}</td>
                <td class="d-none d-md-inline-flex w-25 text-center">{{ group.player3 }}</td>
                <td class="d-none d-md-inline-flex w-25 text-center">{{ group.player4 }}</td>
                <td class="text-center">{{ group.scor25e }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
